.row
  .col-md-4.col-md-offset-4.page-header
    %h2 U2F demo server
.row
  .col-md-4.col-md-offset-4
    %p.lead
      Welcome to the demo implementation of a U2F validation server in Ruby/Padrino.
    %a.btn.btn-default.btn-block.btn-lg{:href => 'registrations/new'} Register a new key
    %a.btn.btn-default.btn-block.btn-lg{:href => 'authentications/new'} Validate a registered key
